@import url("./components/layout.css");
@import url("./components/cards.css");
@import url("./components/buttons.css");   
@import url("./components/navigation.css");
@import url("./components/switcher.css");
@import url("./components/imputs.css");
@import url("./components/cadastro.css");	
@import url("./components/historia.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}  

body {
  font-family: Arial, sans-serif;
  background-color: #fdfdfd;
  color: #222;
}  

ul, ol {
  list-style: none;
}  

a {
  text-decoration: none;
  color: inherit;
}  
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    color: #333;
}
h1, h2, h3 {
    color: #0056b3;
}
section {
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* main {
    margin-left: 190px; /* igual ao width do nav 
} */
